.container-fluid{
    background-color: #1ABC9C;
    text-align: center;
    color: white;
    padding: 25px 0;
}
.container{
    padding: 25px 0;
}

.centered{
    text-align: center;
}
.container img{
    padding-top: 25px;
}

.row p{
    text-align: left;
}

button{
    color: white;
    background-color: #1ABC9C;
    border: white 1px solid ;
    width: 150px;
}
a:visited, a:link, a:hover {
    text-decoration: none;
    color: white;
}

.form-group:nth-child(1){
    margin-top: 25px;
}
